{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len":[
      "error", {"code": 280}
    ],
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "import/first": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "arrow-parens": ["error", "as-needed"]
  }
}
